<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--	<meta charset="UTF-8">-->
<!--	<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--	<div id="historyContainer" th:fragment="historyContainer"-->
<!--	     th:if="${serverHistory}!=null">-->
<!--		<div id="historyHeader">-->
<!--			<h2 th:text="${serverHistory.serverIp} + ' 히스토리'">히스토리</h2>-->
<!--			<button class="danBtn" id="exitHistory">X</button>-->
<!--		</div>-->
<!--		<div id="menu">-->
<!--			&lt;!&ndash; CPU usage display &ndash;&gt;-->
<!--			<div id="historyCpu">-->
<!--				<div class="menuHeader">CPU</div>-->
<!--				<div class="usage" th:style="'color: red'"-->
<!--				     th:text="${serverHistory.metricLogs.cpuUsage} + '%'">0%</div>-->
<!--			</div>-->
<!--			&lt;!&ndash; Memory usage display &ndash;&gt;-->
<!--			<div id="historyMemory">-->
<!--				<div class="menuHeader">Memory</div>-->
<!--				<div class="usage" th:style="'color: black'"-->
<!--				     th:text="${serverHistory.metricLogs.memoryUsage} + '%'">0%</div>-->
<!--				<div>-->
<!--&lt;!&ndash;					Todo:historylog 수정 및 controller에 js용 데이터 뽑아서 차트 표시&ndash;&gt;-->
<!--					&lt;!&ndash; Convert meoryTotal from bytes to GB &ndash;&gt;-->
<!--					<span th:text="${#numbers.formatDecimal((serverHistory.memoryTotal*(serverHistory.metricLogs.memoryUsage/100)) / 1000.0, 1,2)} + 'GB /'">5.9</span>-->
<!--					<span th:text="${#numbers.formatDecimal(serverHistory.memoryTotal / 1000.0, 1,2)} + 'GB'">5.9</span>-->
<!--				</div>-->
<!--			</div>-->
<!--&lt;!&ndash;			disk th:if 확인해서 있으면 div 만들기&ndash;&gt;-->
<!--			<div th:if="${serverHistory.metricLogs.diskUsage1 != null}" id="historyDisk1">-->
<!--				<div class="menuHeader">Disk 1</div>-->
<!--				<div class="usage" th:style="'color: gray'"-->
<!--				     th:text="${serverHistory.metricLogs.diskUsage1} + '%'">0%</div>-->
<!--			</div>-->
<!--			<div th:if="${serverHistory.metricLogs.diskUsage2 != null}" id="historyDisk2">-->
<!--				<div class="menuHeader">Disk 2</div>-->
<!--				<div class="usage" th:style="'color: gray'"-->
<!--				     th:text="${serverHistory.metricLogs.diskUsage2} + '%'">0%</div>-->
<!--			</div>-->
<!--			<div th:if="${serverHistory.metricLogs.diskUsage3 != null}" id="historyDisk3">-->
<!--				<div class="menuHeader">Disk 3</div>-->
<!--				<div class="usage" th:style="'color: gray'"-->
<!--				     th:text="${serverHistory.metricLogs.diskUsage3} + '%'">0%</div>-->
<!--			</div>-->
<!--			<div th:if="${serverHistory.metricLogs.diskUsage4 != null}" id="historyDisk4">-->
<!--				<div class="menuHeader">Disk 4</div>-->
<!--				<div class="usage" th:style="'color: gray'"-->
<!--				     th:text="${serverHistory.metricLogs.diskUsage4} + '%'">0%</div>-->
<!--			</div>-->
<!--		</div>-->
<!--&lt;!&ndash;		클릭시 js에서 데이터 가져와서 차트 만들어 넣어주기 &ndash;&gt;-->
<!--		<div id="chart">-->
<!--&lt;!&ndash;			<canvas id="myChart" style="width: 800px"></canvas>&ndash;&gt;-->
<!--		</div>-->
<!--	</div>-->
<!--</body>-->
<!--</html>-->