<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<title>Server Table Body Fragment</title>
</head>
<body>
	<!--	<div th:fragment="serverTableBody">-->
	<div id="serverTable" th:fragment="serverTableBody" th:each="data : ${serverMetrics}"
	     th:onclick="|showHistory(${data.serverId})|"
			th:data-latest-log="${serverMetrics}">
		<div id="serverTable-header">
			<!-- 서버 호스트 이름 표시 -->
			<div th:text="${data.serverHostname}"></div>
			<!-- 상태 표시기 -->
				<div class="statusIndicator"
				     th:data-cpu-usage="${data.cpuUsage}"
				     th:data-memory-usage="${data.memoryUsage}"
				     th:data-disk-usage="${data.diskUsage1}"></div>
			<!-- 서버 IP 표시 -->
			<div th:text="${data.serverIp}"></div>
		</div>

		<div id="serverTable-body">
			<!--					 CPU 사용량 표시-->
			<div id="cpuUsageContainer"
			     th:style="'display: ' + (${data.cpuUsage} != null ? 'flex' : 'none')">
				<div id="cpuUsage" th:style="'width: ' + ${data.cpuUsage} + '%'"></div>
				<div th:text="${data.cpuUsage} + '%'"></div>
			</div>

			<!-- 메모리 사용량 표시 -->
			<div id="memoryUsageContainer"
			     th:style="'display: ' + (${data.memoryUsage} != null ? 'flex' : 'none')">
				<div id="memoryUsage" th:style="'width: ' + ${data.memoryUsage} + '%'"></div>
				<div th:text="${data.memoryUsage} + '%'"></div>
			</div>

			<!-- 디스크 사용량 표시 -->
			<div id="diskUsageContainer"
			     th:style="'display: ' + (${data.diskUsage1} != null ? 'flex' : 'none')">
				<div id="diskUsage" th:style="'width: ' + ${data.diskUsage1} + '%'"></div>
				<div th:text="${data.diskUsage1} + '%'"></div>
			</div>
		</div>

		<div class="buttonContainer">
			<!-- 삭제 버튼 -->
			<button th:id="'deleteButton-' + ${data.serverId}" class="btn btn-danger danBtn"
			        th:onclick="|deleteServer(${data.serverId})|">X</button>
		</div>
	</div>
</body>
</html>