<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Server Information</title>
	<link rel="stylesheet" th:href="@{/css/dashboard.css}">
	<script th:inline="javascript">
     const diskList = /*[[${diskList}]]*/ [];
	</script>
	<script th:src="@{/js/dashboard.js}" defer></script>
</head>
<body>
	<h1>Server Information List</h1>
	<table>
		<thead>
		<tr>
			<th>Server ID</th>
			<th>OS</th>
			<th>Hostname</th>
			<th>Total Memory</th>
			<th>Purpose</th>
			<th>IP Address</th>
			<th>CPU usage</th>
			<th>Memory usage</th>
			<th>Disk usage</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="serverInfo : ${serverInfoList}"
		    th:onclick="|handleRowClick(${serverInfo.serverId})|">
			<td th:text="${serverInfo.serverId}">Server ID</td>
			<td th:text="${serverInfo.serverOs}">OS</td>
			<td th:text="${serverInfo.serverHostname}">Hostname</td>
			<td th:text="${serverInfo.memoryTotal}">Total Memory</td>
			<td th:text="${serverInfo.purpose}">Purpose</td>
			<td th:text="${serverInfo.serverIp}">IP Address</td>
<!--			<td th:text="${getMetricLogByServerId(serverInfo.serverId).cpuUsage}">CPU usage</td>-->
<!--			<td th:text="${getMetricLogByServerId(serverInfo.serverId).memoryUsage}">Memory usage</td>-->
<!--			<td th:text="${getMetricLogByServerId(serverInfo.serverId).diskUsage}">Disk usage</td>-->
		</tr>
		</tbody>
	</table>

	<div id="diskInfoContainer">
		<div id="diskInfo">
			<h2>Disk Information</h2>
			<div id="diskContent">선택된 디스크 없음.</div>
		</div>
		<div class="button-container">

		</div>
	</div>




</body>
</html>