<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
	<title>Detail Page</title>
	<style>
       table {
           width: 100%;
           border-collapse: collapse;
       }
       th, td {
           border: 1px solid #ddd;
           padding: 8px;
       }
       th {
           background-color: #f2f2f2;
       }
	</style>
</head>
<body>
	<h1>Server and Disk Details</h1>

	<!-- Display Server Info -->
	<h2>Server Info</h2>
	<p><strong>Server ID:</strong> <span th:text="${serverDto.serverId}"></span></p>
	<p><strong>Operating System:</strong> <span th:text="${serverDto.serverOs}"></span></p>
	<p><strong>Hostname:</strong> <span th:text="${serverDto.serverHostname}"></span></p>
	<p><strong>Purpose:</strong> <span th:text="${serverDto.purpose}"></span></p>
	<p><strong>IP Address:</strong> <span th:text="${serverDto.serverIp}"></span></p>

</body>
</html>