<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Register or Edit Server</title>
</head>
<body>
	<h1 th:text="${#strings.isEmpty(serverDto.serverId) ? 'Register Server' : 'Edit Server Information'}"></h1>
	<form th:action="@{${#strings.isEmpty(serverDto.serverId) ? '/regServer' : '/updateServer'}}" method="post">
		<div th:if="${serverDto.serverId}">
			<input type="hidden" name="_method" value="put"/>
		</div>
		<div>
			<label for="serverOs">Server OS:</label>
			<input type="text" id="serverOs" name="serverOs" th:value="${serverDto.serverOs}" />
		</div>
		<div>
			<label for="serverHostname">Server Hostname:</label>
			<input type="text" id="serverHostname" name="serverHostname" th:value="${serverDto.serverHostname}" />
		</div>
		<div>
			<label for="memoryTotal">Memory Total:</label>
			<input type="text" id="memoryTotal" name="memoryTotal" th:value="${serverDto.memoryTotal}" />
		</div>
		<div>
			<label for="serverIp">Server IP:</label>
			<input type="text" id="serverIp" name="serverIp" th:value="${serverDto.serverIp}" />
		</div>
		<div>
			<label for="purpose">Purpose:</label>
			<input type="text" id="purpose" name="purpose" th:value="${serverDto.purpose}" />
		</div>
		<div th:if="${serverDto.serverId}">
			<input type="hidden" name="serverId" th:value="${serverDto.serverId}" />
		</div>
		<div>
			<button type="submit" th:text="${#strings.isEmpty(serverDto.serverId) ? 'Register' : 'Update'}"></button>
		</div>
	</form>
</body>
</html>