<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.monitoring.mapper.DiskLogMapper">
    <select id="selectAllDiskLogs" resultType="com.park.monitoring.model.DiskLog">
        SELECT *
        FROM disk_log;
    </select>
    <select id="selectDiskLogsByFk" parameterType="Long" resultType="com.park.monitoring.model.DiskLog">
        SELECT *
        FROM disk_log
        WHERE disk_disk_log_fk=#{id};
    </select>
    <select id="selectDiskLogRecent" parameterType="Long" resultType="com.park.monitoring.model.DiskLog">
        SELECT *
        FROM disk_log
        WHERE disk_disk_log_fk=#{id}
        ORDER BY created_date DESC
        LIMIT 1;
    </select>
    <insert id="insertDiskLog" parameterType="com.park.monitoring.model.DiskLog">
        INSERT INTO disk_log (disk_usage, created_date, disk_disk_log_fk)
        VALUES (#{diskUsage}, #{createdDate}, #{diskDiskLogFk});
    </insert>
    <delete id="deleteDiskLogBeforeTime" parameterType="java.time.LocalDateTime">
        DELETE FROM disk_log
        WHERE created_date
        <![CDATA[
        <
        ]]>
        #{timestamp};
    </delete>
</mapper>
