<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.park.monitoring.mapper.UserMapper">
    <select id="showAllUsers" parameterType="com.park.monitoring.dto.UserInfoDto">
        SELECT * from user;
    </select>

    <insert id="insertUser" parameterType="com.park.monitoring.model.User">
        INSERT INTO user (name, email, passwd) VALUES (#{name}, #{email}, #{passwd})
    </insert>
</mapper>
